.boys rect {
    fill: steelblue;
}
.girls rect {
    fill: pink;
}
.girls text {
    fill: white;
    font: 14px;
    text-anchor: end;
}
.boys text {
    fill: white;
    font: 14px;
    text-anchor: start;
}

.no-data-europe{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
}