body {
    font-family: 'Titillium Web', sans-serif;
}
.tabcontent .infobox {
    width: 500px;
    border: 1px solid grey;
    padding: 10px;
}
.infobox:hover {
    cursor: pointer;
}
.infobox {
    background-color: white;
    position: absolute;
    z-index: 200;
}
.infobox h3 {
    display: inline-block;
    float: left;
}
.infobox i {
    float: right;
}

.infobox.open #article {
    overflow-y: scroll;
    height: 350px;

}
#icon::before {
    content: 'info_outline';
}
.infobox.open #icon::before {
    content: 'cancel';
}
/*bubble*/

circle {
    cursor: pointer;
}
#bubbles {
    z-index: 0;
    top: 60px;
    position: relative;
}
#gender-checkboxes {
    position: relative;
    top: 72px;
}

/*map*/

#map-austria {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.highcharts-point {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    fill: #efefef;
    cursor: pointer;
}
.highcharts-point:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    fill: grey;
}
.mapActive {
    fill: grey;
}
#map-austria svg.highcharts-root {
    font-family: 'Titillium Web', sans-serif !important;
}
#map-austria svg.highcharts-root text {
    font-size: 14px !important;
    font-weight: normal !important;
}
.highcharts-text-outline,
.highcharts-contextbutton,
.highcharts-legend,
.highcharts-tooltip {
    display: none;
}
.container {
    max-width: 1520px;
    margin: auto;
}
.col-md-6 {
    width: 50%;
    float: left;
}

/* range slider */

.range-slider {
    width: 100%;
}
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    background: #8c8e97;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    color: white;
}

circle,rect {
    fill-opacity: 1;
}

#bubbles circle {
    fill-opacity: 0.8;
}
#bubbles circle:hover,#bubbles rect:hover {
    fill-opacity: 1;
}
text {
    fill: black;
    font-size: 14px;
    text-anchor: start;
}
#europe circle, #europe rect {
    fill-opacity: 0.8;
}

#europe circle:hover, #europa rect:hover {
    fill-opacity: 1;
}


/*Loading Spinner*/
#content {
    display: none;
}
#spinner h2 {
    text-align: center;
    margin-bottom: -80px;
}
#spinner {
    margin-top: 15%;
}
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}