body {
    font-family: 'Titillium Web', sans-serif;
}
.tabcontent .infobox {
    width: 500px;
    border: 1px solid grey;
    padding: 10px;
}
.infobox:hover {
    cursor: pointer;
}
.infobox {
    background-color: white;
    position: absolute;
    z-index: 200;
}
.infobox h3 {
    display: inline-block;
    float: left;
}
.infobox i {
    float: right;
}
.infobox.open i {
    transform: rotate(180deg);
}

/*bubble*/

circle {
    cursor: pointer;
}
#bubbles {
    z-index: 0;
    top: 60px;
    position: relative;
}
#gender-checkboxes {
    position: relative;
    top: 72px;
}

/*map*/

#map-austria {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.highcharts-point {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    fill: #efefef;
    cursor: pointer;
}
.highcharts-point:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    fill: #00bda8;
}
.mapActive {
    fill: #00bda8;
}
#map-austria svg.highcharts-root {
    font-family: 'Titillium Web', sans-serif !important;
}
#map-austria svg.highcharts-root text {
    font-size: 14px !important;
    font-weight: normal !important;
}
.highcharts-text-outline,
.highcharts-contextbutton,
.highcharts-legend,
.highcharts-tooltip {
    display: none;
}
.container {
    max-width: 1520px;
    margin: auto;
}
.col-md-6 {
    width: 50%;
    float: left;
}

/* range slider */

.range-slider {
    width: 100%;
}
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
